.product-viewer {
  margin-top: 8rem;
  padding: 0 10%;
}
.product-viewer__main {
  flex: 1;
}
.product-viewer__main__thumbnail {
  height: 30rem;
  border-radius: 6px;
  overflow: hidden;
}
.product-viewer__main__header {
  margin: 2rem 0;
  padding-bottom: 1rem;
  border-bottom: 1px solid #eee;
}
.product-viewer__main__header__name {
  font-size: 5rem;
}
.product-viewer__main__header__price {
  font-size: 2.3rem;
  margin-top: 2rem;
}
.product-viewer__main__header button {
  margin-top: 2rem;
}
.product-viewer__right {
  flex: 0 0 30rem;
}
