input,
button,
textarea {
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
input:focus,
select:focus,
textarea:focus {
  border-color: #95b6f1 !important;
  box-shadow: 0 0 0 0.2em #c4d9ff;
}
textarea {
  overflow: auto;
}
