<header class="landing-header flex flex--a-center flex--j-space-between">
    <div class="landing-header__left flex flex--a-center">
        <div class="landing-header__left__logo">
            <h1>Dolly and Sabby.</h1>
        </div>
        <nav class="landing-header__left__menu">
            <ul class="landing-header__left__menu__ul flex">
                <li class="landing-header__left__menu__ul__item">About</li>
                <li class="landing-header__left__menu__ul__item">Browse</li>
                <li class="landing-header__left__menu__ul__item">Privacy Policy</li>
            </ul>
        </nav>
    </div>
    <div class="landing-header__account flex flex--a-center">
        <p><a href="/cart/view">Cart</a></p>
        <p><a href="/login">Sign up</a></p>
        <a href="/register"><button class="btn">Sign In</button></a>
    </div>
</header>