.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 5rem;
  z-index: 3001;
  transition: all 0.3s;
}
.modal--closed {
  opacity: 0;
  z-index: -1;
}
.modal--closed .modal__main {
  transition: all 0.3s;
  margin-top: 5rem;
  opacity: 0;
}
.modal__main {
  width: 100%;
  max-width: 80rem;
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 1px 12px rgba(47, 47, 47, 0.4), 0 1px 4px rgba(40, 40, 40, 0.5);
}
.modal__main__header,
.modal__main__body,
.modal__main__footer {
  padding: 1.4rem 2rem;
}
.modal__main__header h1 {
  font-size: 2rem;
}
.modal__main__header p {
  color: #a2a1a1;
}
.modal__main__header svg {
  cursor: pointer;
  width: 1.6rem;
  height: 1.6rem;
  fill: #393939;
}
.modal__main__body {
  padding-bottom: 0;
}
.modal__main__body--short {
  min-height: 10rem;
  max-height: 20rem;
  overflow-y: auto;
  padding: 1.4rem 0 0 0;
}
.modal__main__footer {
  border-top: 1px solid #eee;
  margin-top: 2rem;
}
.modal__main__footer button:not(:last-child) {
  margin-right: 1rem;
}
